.leftPane {
    -fx-background-color: #eeeeee;
}

.rightPane {
    -fx-background-color: #bdbdbd;
}

.button {
    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 18px;
}

.button:pressed {
    -fx-effect: innershadow(three-pass-box, black, 13, 0, 0, 0);
}

.heading-label {
    -fx-font-size: 38pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: "#4D69B6";
    -fx-opacity: 1;
    -fx-font-weight: bold;
}

.game-mode-label {
    -fx-font-size: 30pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: "#4D69B6";
    -fx-opacity: 1;
    -fx-underline: true;
}

.circle {
    -fx-effect: dropshadow(three-pass-box, black, 5, 0, 1, 1);
}

.circle-selected {
    -fx-effect: dropshadow(three-pass-box, #FF4C4C, 4, 1, 0, 0);
}

.game-label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-opacity: 1;
    -fx-font-weight: bold;
    -fx-background-color: #eeeeee;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
}

.table-view {

}